body { background: #b9f0de; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 19px; display: flex; }
.block-cart-0 { color: #d46b82; font-size: 19px; margin-bottom: 5px; }
.block-search-1 { color: #918d04; font-size: 15px; margin-bottom: 5px; }
.block-cluster-2 { color: #2ed17b; font-size: 15px; margin-bottom: 5px; }
.block-metrics-3 { color: #872d90; font-size: 19px; margin-bottom: 5px; }
.block-database-4 { color: #854504; font-size: 12px; margin-bottom: 5px; }